<main [ngClass]="isDark ? 'bg-gray-900 text-gray-100' : 'bg-gray-100 text-gray-900'"
      class="flex flex-col items-center justify-center w-screen min-h-screen gap-2">

  <div *ngIf="isLoading" class="loading">
    Loading...
  </div>

  <div *ngIf="!isLoading && errorMessage" class="error-message">
    <p class="text-3xl text-red-400">{{ errorMessage }}</p>
  </div>

  <div *ngIf="!isLoading && !errorMessage && timeSchedules.length > 0">
    <div *ngFor="let timeSchedule of timeSchedules" class="time-schedule-card">
      <h3>{{ timeSchedule.title }}</h3>
      <p>{{ timeSchedule.description }}</p>
      <p>Start Time: {{ timeSchedule.startTime ||'short' }}</p>
      <p>End Time: {{ timeSchedule.endTime ||'short' }}</p>
      <div *ngIf="canModify()" class="actions">
        <button class="edit-button" (click)="editTimeSchedule(timeSchedule)">Edit</button>
        <button class="delete-button" (click)="deleteTimeSchedule(timeSchedule.id)">Delete</button>
      </div>
      <div *ngIf="isTeacherOrAdmin()" class="extra-data">
        <p>Created By: {{ timeSchedule.createdBy }}</p>
        <p>Created At: {{ timeSchedule.startTime || 'short' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && !errorMessage && timeSchedules.length === 0" class="w-full no-data">
    <div class="flex flex-col items-center justify-center max-w-[90%] p-5 text-center bg-white border border-gray-300 shadow-lg rounded-xl dark:bg-gray-800 dark:border-gray-700">
      <img src="assets/images/not-found.jpg" class="w-[clamp(300px,33%,450px)] mb-6" alt="No schedules Found">
      <h3 class="mb-4 text-2xl font-semibold text-gray-700 dark:text-gray-300">No schedules found</h3>
      <p class="mb-6 text-gray-500 dark:text-gray-400">It looks like there are no schedules available at the moment. Please check back later or explore other sections of our platform.</p>
      <button *ngIf="canModify()" class="add-button" (click)="addTimeSchedule()">Add New Schedule</button>
    </div>
  </div>

  <div *ngIf="canModify()" class="add-schedule">
    <button class="add-button" (click)="addTimeSchedule()">Add New Schedule</button>
  </div>
</main>
