<main [class]="isDark ? 'bg-gray-900 text-gray-100' : 'bg-gray-100 text-gray-900'" class="flex flex-col items-center justify-center w-screen min-h-screen">

  <!-- Page Header -->
  <header [class]="isDark ? 'bg-blue-800 text-white' : 'bg-blue-600 text-white'" class="flex flex-row items-center justify-between w-full p-3 shadow-lg">
    <span>Welcome back {{ firstName }} {{ lastName }}</span>
    <img [src]="userAvatar" alt="User Avatar" class="w-10 h-10 rounded-full">
  </header>

  <!-- Main Content -->
  <section class="flex flex-col items-center justify-center max-w-[90%] px-4 py-10">

    <!-- Courses Section -->
    <section class="flex flex-col items-center justify-center w-full">
      <h2 [class]="isDark ? 'text-blue-300' : 'text-gray-800'" class="mb-6 text-3xl font-semibold">Courses</h2>
      <div class="flex flex-row flex-wrap items-center justify-center w-full gap-3">
        <ng-container *ngIf="courses.length > 0; else noCourses">
          <div *ngFor="let course of courses" [class]="isDark ? 'bg-gray-800 text-gray-200' : 'bg-white text-gray-800'" class="p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold">{{ course.title }}</h3>
            <p class="mt-2">{{ course.description }}</p>
            <p class="mt-2 text-sm" [class]="isDark ? 'text-gray-400' : 'text-gray-500'">Instructor: {{ course.instructor.firstName }} {{ course.instructor.lastName }}</p>
            <p class="mt-2 text-sm" [class]="isDark ? 'text-gray-400' : 'text-gray-500'">Enrolled Students: {{ course.studentIds.length }}</p>
            <button [class]="isDark ? 'text-blue-400 hover:text-blue-500' : 'text-blue-600 hover:text-blue-700'" class="mt-4">View</button>
          </div>
        </ng-container>
        <ng-template #noCourses>
          <div class="flex flex-col items-center justify-center w-full p-10 text-center bg-white border border-gray-300 shadow-lg rounded-xl dark:bg-gray-800 dark:border-gray-700">
            <img src="assets/images/not-found.jpg"  class="w-[clamp(300px,33%,450px)] mb-6" alt="No Courses Found">
            <h3 class="mb-4 text-2xl font-semibold text-gray-700 dark:text-gray-300">No courses found</h3>
            <p class="mb-6 text-gray-500 dark:text-gray-400">It looks like there are no courses available at the moment. Please check back later or explore other sections of our platform.</p>
          </div>
        </ng-template>
      </div>
    </section>

  </section>
</main>
